{% load static %}
<div class="alert alert-{{ alert.variant|default:'primary' }} mx-2 {% if alert.dismissible %}fade show{% endif %}" role="alert" {% if alert.css_id %}id="{{ alert.css_id }}"{% endif %} {% for key, value in alert.attributes.items %}{{ key }}="{{ value }}" {% endfor %}>
    {% if alert.title %}
    <div class="alert-header d-flex align-items-center">
        {% if alert.icon %}<span class="material-symbols-outlined me-3">{{ alert.icon }}</span>{% endif %}
        <h5 class="alert-heading mb-0 flex-grow-1">{{ alert.title }}</h5>
        {% if alert.dismissible %}<button type="button" class="alert-close" data-bs-dismiss="alert" aria-label="Close">&times;</button>{% endif %}
    </div>
    {% endif %}

    {% if alert.icon and not alert.title %}
    <div class="d-flex align-items-center">
        <span class="material-symbols-outlined me-3">{{ alert.icon }}</span>
        <div>{{ alert.text|safe }}</div>
    </div>
    {% else %}
    {{ alert.text|safe }}
    {% endif %}

    {% if alert.footer %}
    <hr class="text-{{ alert.variant }}">
    <p class="mb-0 alert-footer">{{ alert.footer|safe }}</p>
    {% endif %}

    {% if alert.dismissible and not alert.title %}
    <button type="button" class="alert-close" data-bs-dismiss="alert" aria-label="Close">&times;</button>
    {% endif %}

    {% if alert.auto_dismiss %}
    <div class="alert-progress bg-{{ alert.variant }}" style="animation-duration: {{ alert.delay }}ms;"></div>
    {% endif %}
</div>
